.App {

}

.Participant {
  width: 100%;
}

.participantList {
  width: 50%;
  float: left;
}

.allocationsList {
  width: 50%;
  float: left;
}

.closeBox {
  padding-bottom: 2px;
  vertical-align: middle;
}

.twoPanel {
  overflow: auto;
}

.staleTitle {
  color: gray;
  font-weight: normal;
}

.staleAssignment {
  color: gray;
}

.finalButton {
  text-align: center;
}

.selectedParticipant {
  background-color: #c0c0c0;
}